@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@469&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   
}
.background{
background-color: #ffffff;
background-image: radial-gradient( ellipse farthest-corner at 9px 9px , #a6f1bb, #a6f1bb 50%, #ffffff 50%);
background-size: 9px 9px;
}

.background2{
  background-color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marL{
  margin-left: 25px;
}
.text{
  font-family: 'Zilla Slab', serif;
}
.bb{
  border: 1px  #000000 outset; 

}

.enviado{
  color:green
}
.ERROR{
  color:red;
  text-align: center;
}
.noenviado{
  color:rgb(255, 6, 6)
}

.cart{
  padding: 0%;
}

.cont{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.it{
  flex: none;
  width: calc((100% - 10px) /2);
  display: flex;
  margin-right: 0px;
  
}
@media screen and (max-width: 800px) {
  .it{
    width: 100%;
  }
}
.bordo{
border: 2px blue solid;
}

.userimg{
  border:1px solid black;
  width:150px;
  height:150px;
  border-radius: 100%;
  box-shadow: 0px 0px 40px 1px rgb(32, 221, 32);
}
.trans{
  color: rgb(0, 0, 0,.3)
}
.ShaLeftBot{
 /* offset-x | offset-y | blur-radius | spread-radius | color */
 box-shadow: -3px -3px 3px 2px rgba(7, 245, 15, 0.4);
}
.ShaRightTop{
  box-shadow: 3px 3px 3px 2px rgba(0, 72, 255, 0.4);
}
.animate__animated2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: unset;
}
.paddingquiz{
  padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}